
<div class="container mt-4">
  <div class="card">
    <h1>Registro de Usuario</h1>

    <form>
      <div class="form-group">
        <label>Nombre</label>
        <input type="text" [(ngModel)]="firstname" [ngModelOptions]="{standalone: true}" class="form-control" id="stname" placeholder="Ingrese su Nombre">
      </div>

      <div class="form-group">
        <label>Apellido</label>
        <input type="text" [(ngModel)]="lastname" [ngModelOptions]="{standalone: true}" class="form-control" id="stname" placeholder="Ingrese su Apellido">
      </div>

      <div class="form-group">
        <label>Correo</label>
        <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control" id="course" placeholder="Ingrese su Correo">
      </div>

      <div class="form-group">
        <label>Contraseña</label>
        <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control" id="fee" placeholder="Ingrese su Contraseña">
      </div>

      <button type="submit" class="btn btn-primary mt-4" (click)="save()">Guardar</button>
    </form>
  </div>
</div>
