<header>
  <h1>Servicio Solidario</h1>
  <nav>
      <ul>
          <li><a routerLink="/login">Login</a></li>
          <li><a routerLink="/register">Register</a></li>
          <li><a routerLink="/header">Inicio</a></li>
          <li><a routerLink="#buscar-trabajo">Buscar Trabajo</a></li>
          <li><a routerLink="#publicar-empleo">Publicar Empleo</a></li>
          <li><a routerLink="#postulantes">Postulantes</a></li>
      </ul>
  </nav>
  <router-outlet></router-outlet>
</header>

<main>
  <section id="inicio">
      <h2>Bienvenido a nuestra plataforma de Servicio Solidario</h2>
      <p>La verdadera grandeza de una comunidad radica en la suma de pequeños actos solidarios.
      Contribuyamos juntos al bienestar de quienes más lo necesitan.</p>
  </section>

  <section id="buscar-trabajo">
      <h2>Buscar Trabajo</h2>

  </section>

  <section id="publicar-empleo">
      <h2>Publicar Empleo</h2>
  </section>

  <section id="postulantes">
    <h2>Postulantes</h2>
</section>
</main>

<footer>
  <p>&copy; 2024 Servicio Solidario. Todos los derechos reservados.</p>
</footer>
