<header>
  <nav class="fixed top-0 left-0 z-50 w-64 h-full bg-green-700 border-r border-green-200 dark:bg-gray-800 dark:border-gray-700">
    <div class="px-3 py-3 lg:px-5 lg:pl-3 flex items-center justify-between">
      <h1 class="text-white text-xl font-semibold sm:text-2xl">Servicio Solidario</h1>
    </div>

    <div class="h-full px-3 pb-4 overflow-y-auto bg-gradient-to-b from-green-700 to-green-400 dark:bg-gray-800">
      <ul class="space-y-2 font-medium">
        <li>
          <a routerLink="/home" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
            <span class="ml-3">Inicio</span>
          </a>
        </li>
        <li>
          <a routerLink="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
            <span class="ml-3">Empleo</span>
          </a>
        </li>
        <li>
          <a routerLink="/empleo" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
            <span class="ml-3">Crear Empleo</span>
            <span class="inline-flex items-center justify-center px-2 ml-3 text-sm font-medium text-gray-800 bg-gray-100 rounded-full dark:bg-gray-700 dark:text-gray-300"></span>
          </a>
        </li>
        <li>
          <button (click)="cerrarSesion()" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
            <span class="ml-3">Cerrar Sesión</span>
          </button>
        </li>
      </ul>
    </div>
  </nav>
</header>
  <div class="p-4 sm:ml-64">
    <div class="p-4 border-2 border-b-gray-900 border-dashed rounded-lg dark:border-gray-700 mt-14">

<section class="bg-center bg-no-repeat bg-[url('assets/docs/images/examples/LaPetiteyBistro.svg')] bg-gray-500 bg-blend-multiply">
    <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">Inicio</h1>

  <h4>¡Bienvenido a nuestra Plataforma de Empleo Solidario!</h4><br>
                <p>
  Nos complace tenerte con nosotros, donde unimos fuerzas para crear oportunidades significativas y fomentar el espíritu de solidaridad. En nuestra plataforma, no solo buscamos conexiones laborales, sino también la construcción de una comunidad que se apoya mutuamente.

  Aquí, cada usuario es un eslabón vital en nuestra red solidaria. Juntos, creamos un espacio donde las oportunidades laborales no solo benefician individualmente, sino que también contribuyen al bienestar colectivo.

  Explora, conecta, y descubre el poder de la colaboración. Estamos emocionados de tener la oportunidad de acompañarte en tu viaje hacia nuevas experiencias laborales y conexiones significativas.

  ¡Gracias por unirte a nuestra comunidad de Empleo Solidario! Juntos, construimos un futuro laboral más solidario y equitativo.
  </p>
                <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">


                </div>
            </div>
        </section>

<footer>
  <b>&copy; 2024 Servicio Solidario. Todos los derechos reservados.</b>
</footer>


