<div class="content-container p-4 sm:ml-15">
  <div class="p-4 border-2 border-b-gray-900 border-dashed rounded-lg dark:border-gray-700 mt-14">
      <h4>¡Bienvenido a nuestra Plataforma de Empleo Solidario!</h4>
      <p>
          Nos complace tenerte con nosotros, donde unimos fuerzas para crear oportunidades significativas y fomentar el espíritu de solidaridad. En nuestra plataforma, no solo buscamos conexiones laborales, sino también la construcción de una comunidad que se apoya mutuamente.

          Aquí, cada usuario es un eslabón vital en nuestra red solidaria. Juntos, creamos un espacio donde las oportunidades laborales no solo benefician individualmente, sino que también contribuyen al bienestar colectivo.

          Explora, conecta, y descubre el poder de la colaboración. Estamos emocionados de tener la oportunidad de acompañarte en tu viaje hacia nuevas experiencias laborales y conexiones significativas.

          ¡Gracias por unirte a nuestra comunidad de Empleo Solidario! Juntos, construimos un futuro laboral más solidario y equitativo.
      </p>
      <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4"></div>
  </div>
</div><br><br>

<footer>
  <b>&copy; 2024 Servicio Solidario. Todos los derechos reservados.</b>
</footer>



