body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background-color: #081d46;
  color: #fff;
  padding: 1em;
  text-align: center;
}

nav ul {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #fff;
  margin: 0 15px;
  font-weight: bold;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

h2 {
  color: #333;
}

/* Estilos para el formulario de inicio de sesión */
form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

/* Estilos para el pie de página */
footer {
  background-color: #081d46;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Estilos adicionales para mejorar la legibilidad y la apariencia */
p {
  margin-bottom: 15px;
}

ul {
  display: flex;
  justify-content: center;
}

/* Estilos para secciones específicas */
#inicio {
  background-color: #f4f4f4;
  padding: 40px;
}

#buscar-trabajo, #publicar-empleo, #postulantes {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.footer b {
  text-align: center;
  padding: 20px; /* Ajusta el espacio interno según sea necesario */
  background-color: #f4f4f4; /* Ajusta el color de fondo según sea necesario */
}

p{
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
  margin-bottom: 20px;
  color: #080808;
}


